GROQ_API_KEY=YOUR_groq_API_KEY

HF_TOKEN=HUGGINGFACE_API_KEY


QDRANT_URL="https://fb036385-ad34-4ae1-8ed4-74b225e24f1d.europe-west6-0.gcp.cloud.qdrant.io"
QDRANT_API_KEY=YOUR_QDRANT_API_KEY

LANGSMITH_TRACING=true
LANGSMITH_PROJECT="AniVerse"
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=YOUR_LANGSMITH_API_KEY